extends minion_layout

block more_dropdown
  ul.dropdown-menu
    li
      a(href='#')  Dashboard
    li
      a(href='#')  Highstate
    li
      a(href='#')  Pillars
    li.active
      a(href='#')  Grains

block content
  .row
    .col-sm-12
      #grains_list

block script_includes
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/manage_grain_list.js')