extends layout

block page_header
    .page-header
        .pull-right
            .page-header-toolbar
                .btn-group
                    button.btn.btn-primary.btn-sm(id='refresh' type='button' data-loading-text="<i class='fa fa-spinner fa-spin fa-lg'></i>&nbsp;&nbsp;Refreshing...&nbsp;")
                        span.glyphicon.glyphicon-refresh
                        | &nbsp;&nbsp;Refresh&nbsp;
                    .btn-group
                        button.btn.btn-info.btn-sm.dropdown-toggle(type='button' data-toggle="dropdown")
                            | &nbsp;More&nbsp;&nbsp;
                            span.glyphicon.glyphicon-chevron-down
                        if (title == "Minions")
                            block more_dropdown
                        else
                            ul.dropdown-menu
                                each name in ["Dashboard", "Highstate", "Grains", "Pillars"]
                                    - var nav_link = id + "/" + name.toLowerCase();
                                    if (subtitle == name)
                                        li.active
                                            a(href='#{nav_link}')= name
                                    else
                                        li
                                            a(href='#{nav_link}')=name
        .page-header-title
            h2= title

block content