doctype html
html
  head
    title= "Salt-Shaker"
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
  body

    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Salt-Shaker
        .navbar-collapse.collapse

    .container
      .dynamic_alerts(id="alerts")

      .container.login
        .row
          .col-md-6.col-md-offset-3.well
            h1
              span.fa.fa-sign-in
                |  Signup
            if (message.length > 0)
              .alert.alert-danger
                | #{message}
            form(action="/signup" method="post")
              .form-group
                label Username
                input.form-control(type="text" name="username")
              .form-group
                label Password
                input.form-control(type="password" name="password")
              button.pull-right.btn.btn-primary.btn-lg(type="submit") Signup