body
  padding-top: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

@media (max-width: 768px)
  .page-header
    .page-header-toolbar
      margin-bottom: 5px

    .btn-sm
      padding: 8px
      font-size: 0px

      i
        font-size: 20px
        margin: 3px 0px 0px 0px

.dynamic_alerts
  height: 100%
  margin-top: 25px

  .alert_close
    margin-bottom: 4px;

.page-header h2
  overflow-y: visible
  overflow-x: hidden
  text-overflow: ellipsis
  white-space: nowrap
  padding-bottom: 2px

.page-header-toolbar
  margin-top: 2px

  .btn-icon
    padding-bottom: 50px

.list-group-item
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.settings_edit
  .input-group-addon
    min-width: 100px

